@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

:root {
    --fonte_titulo:'Anton', sans-serif;
    --font_h:'Oswald', sans-serif;
    --font_p:'Comfortaa', cursive;

    
}


:root {
    --color1:#22e4f2;
    --color2:#0F8DBF;
    --color3:#0A4B73;
    --color4:#011826;
    --color5:#59122C;
}    

body{
    background-image: linear-gradient(45deg,#59122C,#011826,#000c13 );
}

a.externo::after{
   content:'\🍓'; 
}

* {
   margin: 0px;
   padding: 0px; 
}

header{
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    width: -20px;
    height: -20px;
    background-image: linear-gradient(to bottom, #0A4B73, #011826);
    color: #721e3c;
}

header > p {
    padding-top: 5px;
}

main {
    background-image: linear-gradient(45deg,  );
    padding: 17px;
    text-align: justify;
    background-image: linear-gradient(to left,#59122c86,#011826 );
}

a{
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--color5);
}

#titulo {
    font-family: var(--fonte_titulo);
    padding-bottom: 30px;
}

.enfeite {
    text-align: center;
    font-weight: bolder;
    color:var(--color5);
}

.subtitulo {
    text-align: center;
    margin: -40px;
}


header > p {
    font-family:var(--font_p);
    
}

article {
    border: solid 2px var;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    background-image: linear-gradient(to top ,#61e3ec, #ffffff)
    ;
    box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.486);
} 

h1, h2 {
    font-family: var(--font_h);
    font-size: 2em;
    
}

p {
    font-family: var(--font_p);
    padding-bottom: 2em;
    font-size: 1.2em;
    text-align: justify;
}

main{
    margin: auto;
    padding-bottom: 10px;
    max-width: 800px;
    min-width: 450px;
    
}

    main img {
        width: 100%;
    }

footer{
    padding: 6px; 
    text-align: center;
    
}